.link {
  text-decoration: none;
}

.input {
  color: black !important;
}

.card {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
}


.cardcolumns {
  margin: auto;
}

.dashboard-container {
  margin-top: 50px;
  margin-left: 50px;
 text-align: center;
}


