.navbar {
  background: var(--variant);
  color: var(--text);

  @media screen and (max-width: 699px) {
    text {
      font-size: 10px;
    }
  }
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.modal {
  background: var(--background);
}

.modal-body {
  background: var(--text);
}

.nav-item {
  background: red;
  border-radius: 4px;
}

.nav-items {
  gap: 1rem;
  color: var(--text);
}

.athlete {
  color: red;
}

.tracker {
  color: gray;
}
.close {
  color: blue;
}
