.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 100px;
}

.newAthlete {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  margin-top: 30px;
}
